#main-headline {
text-align: center;
color: blue;
}

h1 {
text-align: center; 
color: blue;
}

h2 {
text-align: center;
}

.placedescription {
color: purple;
}

.top-favortite {
color: red;
font-style: italic;
font-weight: bold;
}

.important-point {
text-decoration: underline;
}

.emphasis { 
font-style: italic;
}
